.Header{
  background: #000000;
  font-family: "Hind", sans-serif;
  font-weight: 800;
  font-size: 2em;
  color: #fff;
  padding: 0 15px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header__Journey{
  font-size: 0.8em;
  padding: 2px 5px;
  height: 28px;
}