.Video {
	width: 60%;
	height: 400px;
}

.Video__Wrapper {
	width: 100%;
	height: 400px;
}

@media screen and (max-width: 900px) {
	.Video {
		width: 100%;
	}

	.Video,
	.Video__Wrapper {
		height: 340px;
	}
}

@media screen and (max-width: 750px) {
	.Video,
	.Video__Wrapper {
		height: 300px;
	}
}

@media screen and (max-width: 550px) {
	.Video,
	.Video__Wrapper {
		height: 280px;
	}
}

@media screen and (max-width: 500px) {
	.Video,
	.Video__Wrapper {
		height: 230px;
	}
}